body {
    background-color: #212121;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

#about-me {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

#about-me-div {
    width: 800px;
    text-align: justify;
}

#about-me-title {
    color: #53c26b;
    font-size: xx-large;
}

.white-text {
    color: white;
}

#about-me-text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

#caret {
    animation: blink 1s step-start infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

#about-me-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.about-me-buttons {
    padding: 7px 14px;
    font-size: 15px;
    cursor: pointer;
    background-color: #a2a2a2;
    border: none;
    border-radius: 5px;
}

.about-me-buttons:hover {
    transform: scale(1.05);
    background-color: #53c26b;
}

.anchor-buttons {
    text-decoration: none;
    color: black;
}

#projects {
    margin-top: 450px;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

#projects-title {
    font-size: x-large;
    text-align: center;
}

h1 {
    color: #53c26b;
}

#projects-div {
    flex: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.project-div {
    background-color: #3b3b3b;
    border-radius: 10px;
    height: 300px;
    width: 300px;
    cursor: pointer;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.project-div h1, p {
    margin-left: 20px;
}

.project-div:hover {
    transform: scale(1.05);
    background-color: #3d8f4f;
}

.project-div img {
    height: 125px;
    width: 100%;
    object-fit: cover;
}

figure {
    padding: 0;
    margin: 0;
}

.modal {
    position: fixed;
    z-index: 100;
    padding-top: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.4s ease;
    pointer-events: none;
}

.modal.active {
    opacity: 1;
    pointer-events: auto;
}

.center {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}


.modal-content {
    background-color: #3b3b3b;
    margin: auto;
    padding: 0;
    height: 75%;
    width: 75%;
    border-radius: 8px;
    display: flex;
}

.image-space {
    width: 60%;
    overflow: hidden;
    border-radius: 8px;
}

.image-space img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.modal-text {
    margin-left: 20px;
    width: 40%;
}

.modal-text p {
    margin: 0 20px 0 0;
    text-align: justify;
}

.close {
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    margin-left: 72.5%;
}

.close:hover, .close:focus {
    color: #aaa;
}
